NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=https://bois-emeraude-vitrine.vercel.app
RESEND_API_KEY=
EMAIL_FROM=Bois Émeraude <contact@bois-emeraude.com>
ADMIN_EMAIL=contact@bois-emeraude.com
